# 1. Write a program to Iterating string "Python" using for loop

In [38]:
a = "Python"
for i in a:
    print(" ".join(a))
    break

P y t h o n

# 2. Write a program to print Table of a given number

In [33]:
a=int(input())
print("Table for a given number is:")
for i in range(1,11):
    print(a,"*",i,+a*i)

7
Table for a given number is:
7 * 1 7
7 * 2 14
7 * 3 21
7 * 4 28
7 * 5 35
7 * 6 42
7 * 7 49
7 * 8 56
7 * 9 63
7 * 10 70

# 3. Program to print the sum of the given list.

In [37]:
list1 = [1,2,3,4,5,6,7,8,9,10]
a = 0
for i in list1:
    a = a+i
print(a)

55

# 4. Program to print the difference of given list

In [36]:
#It's complicated one(difference of adjacent element or difference of whole list, that is confusing)
#If difference of whole list, Cases will be varry, according to that results will varry.

# 5. Program to print even number using in range().   Eg (2,4,6,8 )

In [10]:
a=[87,95,2,5,8,3,6]
for i in a :
    if(i%2==0):
        print(i,"is even No.")

2 is even No.
8 is even No.
6 is even No.

# 6. Write a Program to print 1 to 10 using while loop

In [35]:
#using for loop here as of now
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# 7. Write the program to iterate every element with Hello ! ? list = ['Peter','Joseph','Ricky','Devansh']

In [18]:
list1 = ['Peter','Joseph','Ricky','Devansh']
for i in list1:
    print("Hello!",i)

Hello! Peter
Hello! Joseph
Hello! Ricky
Hello! Devansh